<%= form_for @bus, url: event_buses_path, :html => { :class => "form-horizontal bus" } do |f| %>

  <% if @bus.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @bus.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-lg-2', required: true %>
    <div class="col-lg-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= f.label :'Número de Poltronas', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.number_field :armchair, :class => 'form-control', required: true %>
    </div>
    <%=f.error_span(:armchair) %>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :license_plate, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :license_plate, :class => 'form-control', required: true %>
    </div>
    <%=f.error_span(:license_plate) %>
  </div>
  <br>
  <div class="form-group">
    <h2>Passageiros</h2>
    <% @bus.passengers.each do |p| %>
      <div class="form-group">
        <%= f.label :nome, :class => 'control-label col-lg-2', required: true %>
        <div class="col-lg-4 field">
          <%= f.text_field :name, value: p.name, :class => 'form-control' %>
        </div>
        <%= f.label :'Data de Nascimento', :class => 'control-label col-lg-2' %>
        <div class="col-lg-4 field">
          <%= f.date_field :birthdate, value: p.birthdate.strftime('%Y-%m-%d'), :class => 'form-control', required: true %>
        </div>

        <%=f.error_span(:name) %>
        <%=f.error_span(:birthdate) %>
      </div>

      <div class="form-group">
        <%= f.label :'Número de documento', :class => 'control-label col-lg-2' %>
        <div class="col-lg-4 field">
          <%= f.number_field :national_registry_code, value: p.national_registry_code, :class => 'form-control', required: true %>
        </div>
        <%= f.label :'E-mail', :class => 'control-label col-lg-2' %>
        <div class="col-lg-4 field">
          <%= f.text_field :email, value: p.email, :class => 'form-control', type: 'email', required: true %>
        </div>
        <%=f.error_span(:email) %>
        <%=f.error_span(:national_registry_code) %>
      </div>
      <br>
    <% end %>

    <div id="passengers">
      <% f.fields_for :passengers do |p| %>
        <%= render 'passenger_fields', f: p %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Adicionar passageiros', f, :passengers %>
        <br><br>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
