<%- model_class = Bus -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="card card-body">
  <dl class="dl-horizontal">
    <dt><strong>Nome:</strong></dt>
    <dd><%= @bus.name %></dd>
    <br>
    <dt><strong>Poltronas disponíveis:</strong></dt>
    <dd><%= @bus.armchair %></dd>
    <br>
    <dt><strong>Placa do veículo</strong></dt>
    <dd><%= @bus.license_plate %></dd>
    <br>

  </dl>

  <%= link_to t('.back', :default => t("helpers.links.back")),
                event_path(@bus.event), :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_event_bus_path(@bus.event, @bus), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                event_bus_path(@bus.event, @bus),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
</div>
<br>
<br>
<% if @bus.passengers.present? %>
  <button class="btn-sm btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePassenger" aria-expanded="false" aria-controls="collapsePassenger">
    Visualizar Passageiros
  </button>
  <br>

  <%= render 'passengers' %>
<% else %>
  <%= link_to 'Adicionar passageiro', new_event_bus_passenger_path(@bus.event, @bus), class: 'btn btn-primary' %>
<% end %>

