<!DOCTYPE html>
<html>
  <head>
    <title>Triphero</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default" style="background: #00b38f;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" >
        <button type="button" style="border-color: #ffffff;" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span style="background-color: #ffffff;" class="sr-only">Toggle navigation</span>
          <span style="background-color: #ffffff;" class="icon-bar"></span>
          <span style="background-color: #ffffff;" class="icon-bar"></span>
          <span style="background-color: #ffffff;"  class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color: #ffffff;" href="#">Excursão Top</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=<%= 'active' if params[:controller] == 'passengers' %>>
            <%= link_to 'Eventos', events_path, style: 'color: #ffffff;' %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <%= yield %>
  </body>
</html>
